
@{
    ViewBag.Title = "ToDolist";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<p>#1 Profilim</p>
<p>#2 Tüm Başlıklarda Paging</p>
<p>#3 Sesiona göre mesaj işlemleri</p>
<p>#4 Oturum yönetiminin mimariye taşınması</p>
<p>#5 Token kullanımı</p>