

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<!DOCTYPE html>
<html>
<body>
    <div>
        <section class="content">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-12">
                    <div class="info-box bg-info">
                        <div class="info-box-content">
                            <div class="text-center">
                                <span class="info-box-text"><h4><b>Bookmarks</b></h4></span>
                            </div>
                            <div class="text-center">
                                <span class="info-box-number">41,410</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-12">
                    <div class="info-box bg-success">
                        <div class="info-box-content">
                            <div class="text-center">
                                <span class="info-box-text"><h4><b>Bookmarks</b></h4></span>
                            </div>
                            <div class="text-center">
                                <span class="info-box-number">41,410</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-12">
                    <div class="info-box bg-warning">
                        <div class="info-box-content">
                            <div class="text-center">
                                <span class="info-box-text"><h4><b>Bookmarks</b></h4></span>
                            </div>
                            <div class="text-center">
                                <span class="info-box-number">41,410</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-12">
                    <div class="info-box bg-danger">
                        <div class="info-box-content">
                            <div class="text-center">
                                <span class="info-box-text"><h4><b>Bookmarks</b></h4></span>
                            </div>
                            <div class="text-center">
                                <span class="info-box-number">41,410</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <aside class="control-sidebar control-sidebar-dark">
        </aside>
    </div>
    <script src="~/AdminLTE-3.0.4/plugins/jquery/jquery.min.js"></script>
    <script src="~/AdminLTE-3.0.4/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/AdminLTE-3.0.4/dist/js/adminlte.min.js"></script>
    <script src="~/AdminLTE-3.0.4/dist/js/demo.js"></script>
</body>
</html>
